@import '../../../variables/Variables.scss';
.input-main{
    height:25px;
    font-size: 17px;
    outline: none;
    margin: 10px 0 10px 50px;
    border:none;
    border-radius: 5px;
    padding: 5px;
}
.sign-up{
    background-color: rgb(189, 134, 52);
    width: 300px;
        border-radius: 15px;
        margin: 0 auto;
}